<h1> Home Page </h1>
<ul>
    <% @boards.each do |board| %>
        <li>
        <%= link_to(board.title, "/boards/#{board.id}")%>
        </li>
        <li>
        <%= board.condition%>
        </li>
        <li>
        <%= board.description%>
        </li>
        <li>
        <%= board.price%>
        </li>
    <% end %>


</ul>
