
.storefront{
    min-height: 100vh;
    background-color: rgb(187, 235, 241);
}

.title{
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.card-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.card-block{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button{
    display: flex;
    flex-direction: row;
}

.image{
    width:  18rem;
    height: 18rem;
}